<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home Page</title>
</head>
<body>
    <div class="home-container">
        <div class="header-container">
            <h1>4020 ChatGPT Efficiency Assignment</h1>
        </div>
        <div class="body-container">
            <section class="aphy-intro">

            </section>
            <section class="ayush-intro">

            </section>
            <section class="project-overview">

            </section>
        </div>
    </div>
</body>
</html>