<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home Page</title>
</head>
<body>
    <div class="home-container">
        <div class="header-container">
            <h1>4020 ChatGPT Efficiency Assignment</h1>
        </div>
        <div class="body-container">
            <h2 class="bios-title"><i>Student Profiles</i></h2>
            <section class="aphy-intro-container">
                <p class="aphy-intro">
                    My name is Aphason Aberham. I live in downtown Toronto, and am currently a third year BCom student majoring in Information Technology at York University.I have a strong background in different frontend and backend technologies, which I've used to make several different projects during my studies.</p>
                </p>
            </section>
            <section class="ayush-intro-container">

            </section>
            <h2 class="about-project-title"><i>About Our Project</i></h2>
            <section class="project-overview">

            </section>
        </div>
    </div>
</body>
</html>